
$background__primary--light : #000000 !default;

$background__primary : red !default;

$color__primary : #03a84e !default;

$color__primary--dark : #fff !default;

$color__secondary : rgb(187, 184, 184) !default;

$color__dark: #21312a !default;

$color__light: #ffffff !default;

$primary-font : 'Cerebri Sans Book';

//function that converts pixel to rem
@function pxToRem($px) {
  @return $px / 16;
}